#### **Structure of Store Database**
- tCust - **cust_id**, first, last, addr, zip
- tZip - **zip**, city, st
- tState - **st**, state
- tProd - **prod_id**, prod_desc, unit_price
- tOrder - **order_id**, cust_id, date
- tOrderDetail - **order_id**, **prod_id**, qty

**Foreign Key Dependencies**
- st from tZip to tState
- zip from tCust to tZip
- cust_id from tOrder to tCust
- prod_id from tOrderDetail to tProd

In [1]:
import store
# While testing, need to force python to reload the module
# Otherwise, it will not see our changes
from importlib import reload
reload(store);

### Build the Database (i.e. Define the tables)

In [4]:
store.RunAction("DROP TABLE IF EXISTS tCust;")
sql = """
CREATE TABLE tCust(
    cust_id INTEGER PRIMARY KEY,
    first TEXT NOT NULL,
    last TEXT NOT NULL,
    addr TEXT NOT NULL,
    zip TEXT NOT NULL REFERENCES tZip(zip)
    )
;"""
store.RunAction(sql)

In [5]:
store.RunAction("DROP TABLE IF EXISTS tZip;")
sql = """
CREATE TABLE tZip (
    zip TEXT PRIMARY KEY CHECK(length(zip)==5),
    city TEXT NOT NULL,
    st TEXT NOT NULL REFERENCES tState(st)
);"""
store.RunAction(sql)

In [7]:
store.RunAction("DROP TABLE IF EXISTS tState;")
sql = """
 CREATE TABLE tState (
     st TEXT PRIMARY KEY CHECK (length(st)==2),
     state TEXT NOT NULL
 );"""
store.RunAction(sql)

In [8]:
store.RunAction("DROP TABLE IF EXISTS tOrder;")
sql = """
CREATE TABLE tOrder (
order_id INTEGER PRIMARY KEY,
cust_id INTEGER NOT NULL REFERENCES tCust(cust_id),
date TEXT NOT NULL CHECK(date LIKE '____-__-__')
 );"""
store.RunAction(sql)

In [11]:
store.RunAction("DROP TABLE IF EXISTS tOrderDetail;")
sql = """
CREATE TABLE tOrderDetail (
    order_id INTEGER NOT NULL REFERENCES tOrder(order_id),
    prod_id INTEGER NOT NULL REFERENCES tProd(prod_id),
    qty INTEGER NOT NULL CHECK(qty>0),
    PRIMARY KEY (order_id, prod_id)
 );"""
store.RunAction(sql)

In [12]:
store.RunAction("DROP TABLE IF EXISTS tProd;")
sql = """
CREATE TABLE tProd (
    prod_id INTEGER PRIMARY KEY,
    prod_desc TEXT NOT NULL,
    unit_price REAL NOT NULL
);"""
store.RunAction(sql)

In [18]:
store.RunQuery("SELECT * FROM sqlite_master;")

,type,name,tbl_name,rootpage,sql
0,table,tCust,tCust,2,CREATE TABLE tCust(\n cust_id INTEGER PRIMA...
1,table,tZip,tZip,3,CREATE TABLE tZip (\n zip TEXT PRIMARY KEY ...
2,index,sqlite_autoindex_tZip_1,tZip,4,None
3,table,tState,tState,5,CREATE TABLE tState (\n st TEXT PRIMARY KE...
4,index,sqlite_autoindex_tState_1,tState,6,None
5,table,tOrder,tOrder,7,CREATE TABLE tOrder (\norder_id INTEGER PRIMAR...
6,table,tOrderDetail,tOrderDetail,8,CREATE TABLE tOrderDetail (\n order_id INTE...
7,index,sqlite_autoindex_tOrderDetail_1,tOrderDetail,9,None
8,table,tProd,tProd,10,CREATE TABLE tProd (\n prod_id INTEGER PRIM...